.card__like-button_is-active {
  background: transparent url("../../../../images/like-active.svg") no-repeat;
}

.card__likes {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card__likes-counter {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  text-align: center;
}
